/* start Global styles */
* {
  box-sizing: border-box;
}
:root {
  --blue: #2196f3;
  --sec-blue: #1787e0;
  --white: #fafafa;
  --sec-white: #ececec;
}
body {
  font-family: "Cairo", sans-serif;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* end Global styles */
/* genral style start */
.special-header {
  display: inline-block;
  position: relative;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px auto 80px;
  padding: 10px 20px;
  transition: all 0s 0s;
  left: 50%;
  transform: translateX(-50%);
}
.special-header::before,
.special-header::after {
  content: "";
  width: 11px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue);
  position: absolute;
  top: 35%;
  z-index: -1;
  transition: all 0s;
}
.special-header::before {
  left: -30px;
}
.special-header::after {
  right: -30px;
}
.special-header:hover::before {
  animation: move-left 0.5s linear 1 forwards running;
}
.special-header:hover:after {
  animation: move-right 0.5s linear 1 forwards running;
}
.special-header:hover {
  animation: change-color-white 0s 0.5s 1 forwards;
}
@keyframes move-left {
  50% {
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}
@keyframes move-right {
  30% {
    right: 0px;
  }
  100% {
    top: 0px;
    right: 0px;
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}
@keyframes change-color-white {
  100% {
    color: white;
  }
}
/* genral style end */
/* start  header */
.header {
  box-shadow: 0 3px 2px -2px #0000002e;
  z-index: 0;
  background-color: white;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo {
  color: var(--blue);
  font-size: 25px;
  font-weight: 700;
}
.header .container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .container > ul > li > a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  height: 72px;
  padding: 0px 30px;
  overflow: hidden;
  position: relative;
}
.header .container > ul > li > a:last-of-type {
  cursor: pointer;
}
.header .container > ul > li > a::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  height: 4px;
  width: 100%;
  background-color: var(--blue);
  z-index: 2;
  transition: all 0.3s;
}
.header .container > ul > li > a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.header .container > ul > li:hover > a {
  color: var(--blue);
}
.header .container > ul > li:hover > a::after,
.header .container > ul > li:hover > a::before {
  right: 0%;
}

.header .mega-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  top: 150%;
  width: 100%;
  border-bottom: 2px solid var(--blue);
  padding: 10px 0px;
  margin: 0px 15px;
  z-index: -10;
  transition: top 0.5s ease;
  background-color: white;
}

.header .container > ul > li:hover .mega-menu {
  z-index: 5;
  top: calc(100% + 1px);
}
.header .mega-menu .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  padding-left: 5px;
}
.header .mega-menu .links li {
  width: 100%;
  border-bottom: 1px solid #0000002e;
  overflow: hidden;
  position: relative;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.header .mega-menu .links li:hover::before {
  right: 0%;
}
.header .mega-menu .links li a {
  color: var(--blue);
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 0px;
}
.header .mega-menu .links li:last-of-type {
  border-bottom-width: 0px;
}
.header .mega-menu .links i {
  margin-right: 10px;
}
.header .mega-menu img {
  max-width: 100%;
}
@media (max-width: 993px) {
  .header .mega-menu .image {
    display: none;
  }
  .header .mega-menu {
    justify-content: space-evenly;
  }
  .header .mega-menu .links {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .header .container > ul > li > a {
    padding: 0px 15px;
  }
}
@media (max-width: 577px) {
  .header .container > ul > li > a {
    padding: 0px 10px;
    font-size: 13px;
    height: 35px;
  }
  .header .container,
  .header .mega-menu {
    flex-direction: column;
  }
  .header .mega-menu {
    margin: 0px;
    align-items: flex-start;
  }
  .header .mega-menu .links {
    width: 95%;
  }
  .header .mega-menu .image + .links li {
    border-bottom-width: 1px;
  }
}
/* header end */
/* landing start */
.landing {
  /* background-color: var(--sec-white); */
  /* height: 60vh; */
  position: relative;
  overflow: hidden;
}
/* .landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30vh;
  bottom: -10vh;
  left: 0px;
  transform: skewY(-5deg);
  background-color: var(--sec-white);
  z-index: -1;
} */
.landing::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -50px;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: left top;
}
.landing::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -2;
}

.landing .container {
  display: flex;
  min-height: calc(100vh - 63px);
}
.landing .container .img {
  width: 600px;
}
.landing .container .img img {
  max-width: 100%;
  animation: up-down 2s linear infinite alternate;
}
.landing .container .contant {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 993px) {
  .landing .container .img {
    display: none;
  }
  .landing .container {
    justify-content: center;
    align-items: center;
  }
  .landing .container .contant {
    align-items: center;
    text-align: center;
  }
}
.landing .container .contant h2 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

.landing .container .contant p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (min-width: 993px) and (max-width: 1199px) {
  .landing .container .contant h2 {
    font-size: 35px;
  }
  .landing .container .contant p {
    font-size: 19px;
  }
}
@media (max-width: 577px) {
  .landing .container .contant p {
    font-size: 14px;
    max-width: 400px;
  }
  .landing .container .contant h2 {
    font-size: 25px;
  }
}
.go-down {
  color: var(--blue);
  position: absolute;
  top: 80vh;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
}
.go-down i {
  animation: up-down-wave 1.5s ease 0s infinite;
}
@keyframes up-down-wave {
  40% {
    transform: translateY(10px);
  }
  70% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(10px);
  }
}
@keyframes up-down {
  100% {
    transform: translateY(70px);
  }
}
/*
articles start
*/
.articles {
  padding: 100px 0px;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px 20px;
}
.articles .container .box {
  box-shadow: 0 2px 15px #0000002e;
  transition: all 0.3s;
}
.articles .container .box:hover {
  transform: translateY(-15px);
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container h3 {
  margin: 0;
}
.articles .container p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box img {
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.articles .container .box .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  border-top: 0px;
  border-top: 1px solid #e6e6e7;
}
.articles .container .box .link::after {
  content: "";
  width: 15px;
  height: 3px;
  background-color: var(--sec-blue);
}
.articles .container .box .link::before {
  content: "";
  border: 5px solid transparent;
  border-left-color: var(--sec-blue);
  position: absolute;
  right: 12px;
}
.articles .container .box .link a {
  color: var(--sec-blue);
  font-weight: bold;
}
.articles .container .box:hover .link::after,
.articles .container .box:hover .link::before {
  animation: left-right 0.6s linear 0s infinite;
}
@keyframes left-right {
  to {
    transform: translatex(10px);
  }
}
/*
articles end
*/
/* gallery start */
.gallery {
  padding: 100px 0px;
  background-color: var(--sec-white);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  background-color: white;
  border: 15px solid white;
  overflow: hidden;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .container .box:hover .image::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .container .box img {
  max-width: 100%;
  transition: all 0.3s;
}
/* .gallery .container .box img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .container .box:hover img::before {
  animation: flashing 0.7s;
}
*/

.gallery .container .box:hover img {
  transform: scale(1.1) rotate(5deg);
}
/* gallery end  */
